:root {
    --widthA: 102px;
    --heightA: 55px;
    --background-size: cover;
    --position: absolute;
    --index:1;
}
.sangre {
    background-image: url(../images/Sangre/Sangre.gif);
    width: var(--widthA);
    height: var(--heightA);
    background-size: var(--background-size);
    position: var(--position);
    z-index: var(--index);
}
