:root {
    --widthB: 50px;
    --heightB: 50px;
    --background-size: cover;
    --position: absolute;
    --margin-leftB:-13%;
    --margin-topB:-43%;
}

.bubble {
    background-image: url(../images/Bubble/smokeBubble.png);
    width: var(--widthB);
    height: var(--heightB);
    background-size: var(--background-size);
    position: var(--position);
    margin-left: var(--margin-leftB);
    margin-top: var(--margin-topB);
}
