<div class="@ModeloPersonaje.estado" style="@_style">
    @if (ModeloPersonaje.combo)
    {
        <h3 style="
        font-weight: bold !important;
        margin-left: -9%;
        margin-top: -30%;
        font-family: Comic;
        width: 142%;
        font-size: 28px;
        letter-spacing: -3.6px;
        word-spacing: 6px;
        color: #77deffe6;
        font-weight: 800;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: italic;
        font-variant: normal;
    ">
            @ModeloPersonaje.comboDescripcion
        </h3>
    }
    <Bubble ModeloBubble="ModeloBubbl" />
</div>


@code {

    [Parameter] public PersonajeModel ModeloPersonaje { get; set; }
    [Parameter] public BubbleModel ModeloBubbl { get; set; }
    string _style => $"bottom: {ModeloPersonaje.vertical}%;left: {ModeloPersonaje.horizontal}%;";

}