:root {
    --widthD: 22px;
    --heightD: 22px;
    --background-size: cover;
    --position: absolute;
    --margin-leftD: 28%;
    --margin-topD: 12%;
}

.dado-gira {
    background-image: url(../images/Dados/1.Dado/Dado.gif);
    width: var(--widthD);
    height: var(--heightD);
    background-size: var(--background-size);
    position: var(--position);
    margin-left: var(--margin-leftD);
    margin-top: var(--margin-topD);
}

.dado-uno {
    background-image: url(../images/Dados/1.Dado/Dado-0.png);
    width: var(--widthD);
    height: var(--heightD);
    background-size: var(--background-size);
    position: var(--position);
    margin-left: var(--margin-leftD);
    margin-top: var(--margin-topD);
}

.dado-dos {
    background-image: url(../images/Dados/1.Dado/Dado-1.png);
    width: var(--widthD);
    height: var(--heightD);
    background-size: var(--background-size);
    position: var(--position);
    margin-left: var(--margin-leftD);
    margin-top: var(--margin-topD);
}

.dado-tres {
    background-image: url(../images/Dados/1.Dado/Dado-2.png);
    width: var(--widthD);
    height: var(--heightD);
    background-size: var(--background-size);
    position: var(--position);
    margin-left: var(--margin-leftD);
    margin-top: var(--margin-topD);
}

.dado-cuatro {
    background-image: url(../images/Dados/1.Dado/Dado-3.png);
    width: var(--widthD);
    height: var(--heightD);
    background-size: var(--background-size);
    position: var(--position);
    margin-left: var(--margin-leftD);
    margin-top: var(--margin-topD);
}

.dado-cinco {
    background-image: url(../images/Dados/1.Dado/Dado-4.png);
    width: var(--widthD);
    height: var(--heightD);
    background-size: var(--background-size);
    position: var(--position);
    margin-left: var(--margin-leftD);
    margin-top: var(--margin-topD);
}

.dado-seis {
    background-image: url(../images/Dados/1.Dado/Dado-5.png);
    width: var(--widthD);
    height: var(--heightD);
    background-size: var(--background-size);
    position: var(--position);
    margin-left: var(--margin-leftD);
    margin-top: var(--margin-topD);
}